/* Typography */
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
  
.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.abeezee-regular-italic {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-family: "Jua", cursive;
    font-weight: 300;
    font-size: 64px;
    color: #00498C;
}

h2 {
    letter-spacing: -0.05em;
    font-weight: 100;
    font-size: 26px;
    color: #396084;
}
  
body {
    font-family: "ABeeZee", sans-serif;
}

/* Icons */
.material-icons {color: #396084;}
.material-icons.md-50{ font-size: 50px; }

/* Content */
html {
    background: url(../images/mainBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1266px 100vh;
    background-position: -208px 0px;
}

.transparent {
    background: rgba(255, 255, 255, 0.6);
}

/* Header */
header {
    height: 95vh;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.makeCenter {
    margin-top: 257px;
    text-align: center;
}

/* Card Component */
.cardContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.imgSize{
    width: 100%;
}

.imgText {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    font-size: 26px;
    letter-spacing: -0.05em;
    font-weight: normal;
}

.whiteText {
    color: #fff;
}

/* Body */
