/* Typography */
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
  
.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.abeezee-regular-italic {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
}


.dosis-uniquifier {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Jua", cursive;
    font-weight: 300;
    font-size: 64px;
    color: #00498C;
}

h2 {
    letter-spacing: -0.05em;
    font-weight: 100;
    font-size: 26px;
    color: #396084;
}
  
body {
    font-family: "ABeeZee", sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Icons */
.material-icons {
    color: #396084;
    cursor: pointer;
}
.material-icons.md-50{ font-size: 50px; }

/* Content */
html {
    background: url(../images/mainBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1266px 100vh;
    background-position: -208px 0px;
    scroll-behavior: smooth;
}

.transparent {
    background: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1024px) {
    html {
        background-position: inherit;
        background-size: 100vw;
    }   
}

/* Header */
header {
    height: 95vh;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.makeCenter {
    margin-top: 257px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    header {
        height: 110vh;
    }

    header h1 {
        font-size: 175px;
    }

    header h2 {
        font-size: 40px;
    }

    .material-icons.md-50{ font-size: 80px; }

    .makeCenter {
        margin-top: 200px;
    }
}

/* Card Component */
.cardContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.imgSize{
    width: 100%;
}

.imgText {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    font-size: 26px;
    letter-spacing: -0.05em;
    font-weight: normal;
}

.whiteText {
    color: #fff;
}

.blackText {
    color: #000;
}

.a1 {
    transition: opacity 0.3s ease-in-out;
}
.a2 {
    color: red;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.card:hover .a1 {
    opacity: 0;
}
.card:hover .a2 {
    opacity: 1;
}

@media screen and (min-width: 1024px) {
    .work {
        background: #fff;
        padding: 25px 400px;
    }

    .cardContainer {
        display: grid;
        grid-gap: 25px;
    }

    .card {
        margin-bottom: 0;
    }

    .imgText {
        bottom: 10px;
    }

    #codecareerguide {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    #dannys {
        grid-column: 1/3;
        grid-row: 2/5;
    }

    #gamehub {
        grid-column: 1/4;
        grid-row: 5/5;
    }

    #moshifyText {
        font-size: 13px;
    }

    #csedgeText {
        font-size: 13px;
    }
    /*
    .cardContainer div {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }
    */
}

/* Social */
.social {
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    background: #CEFFD9;
}

.socialFlex {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.social h2 {
    font-size: 20px;
    margin-top: 60px;
}

.social h2:nth-last-child(1){
    margin-top: 20px;
}

.social p {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
    margin-top: 20px;
}

.socialContainer {
    height: 632px;
}

.iconContainer {
    display: flex;
    flex-flow: column;
    height: fit-content;
    width: 40px;
    margin-top: 57px;
}

.iconContainer img {
    margin-bottom: 20px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .socialFlex {
        display: block;
        justify-content: inherit;
        text-align: center;
    }

    .social p {
        margin-left: 20%;
        margin-right: 20%;
        width: fit-content;
    }

    .socialContainer {
        height: auto;
    }

    .iconContainer {
        flex-flow: inherit;
        width: fit-content;
        margin: auto;       
    }

    .iconContainer img {
        margin: 10px 15px 180px;

    }
}

@media screen and (min-width: 1024px) {
    .social {
        display: none;
    }
}

/* Contact */
.contact {
    height: 496px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    font-size: 20px;
    letter-spacing: -0.05em;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: calc(100% - 10px);
    background: transparent;
    border: 1px solid #636363;
    margin-top: 20px;
}

textarea {
    font-size: 20px;
    letter-spacing: -0.05em;
    margin-top: 20px;
    padding: 10px 8px;
    width: calc(100% + 5px);
    height: 240px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #636363;
    resize: none;
}

@media screen and (min-width: 1024px) {
    .contact {
        display: none;
    }
}

#submit {
    background: #636363;
    color: #fff;
    width: 120px;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 15px;
    cursor: pointer;

}

#submit:hover {
    transition: background 0.3s ease-in-out;
    background: #000;
}

/* Desktop Social + Contact */
.desktopSocialContact {
    display: none;
}

@media screen and (min-width: 1024px) {
    .desktopSocialContact {
        display: initial;
    }

    .titleBR {
        display: none   ;
    }

    .desktopSocial {
        text-align: center;
        padding: 20px;
        padding-bottom: 0;
        background: #CEFFD9;
    }

    .desktopSocial h2 {
        font-size: 32px;
        margin-bottom: 54px;
    }
    
    .desktopSocial p {
        font-size: 24px;
        line-height: 36px;
        width: 872px;
        margin: auto;
        margin-bottom: 54px;
    }

    .socialContainer {
        margin-top: 112px;
    }

    .iconContainer {
        flex-flow: inherit;
        width: fit-content;    
    }

    .iconContainer img {
        margin: 10px 15px 54px;

    }

    .desktopContact {
        height: 530px;
        padding-left: 419px;
        padding-right: 419px;
    }

    #submit {
        width: 210px;
        right: 432px;
    }
}

/* Footer */
footer {
    background: #fff;
    text-align: center;
}

footer p {
    padding: 20px;
    margin: 0;
}