/* Typography */
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
  
.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.abeezee-regular-italic {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-family: "Jua", cursive;
    font-weight: 300;
    font-size: 64px;
    color: #00498C;
}

h2 {
    letter-spacing: -0.05em;
    font-weight: 100;
    font-size: 26px;
    color: #396084;
}
  
body {
    font-family: "ABeeZee", sans-serif;
}

/* Icons */
.material-icons {color: #396084;}
.material-icons.md-50{ font-size: 50px; }

/* Content */
html {
    background: url(../images/mainBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1266px 100vh;
    background-position: -208px 0px;
}

.transparent {
    background: rgba(255, 255, 255, 0.6);
}

/* Header */
header {
    height: 95vh;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.makeCenter {
    margin-top: 257px;
    text-align: center;
}

/* Card Component */
.cardContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.imgSize{
    width: 100%;
}

.imgText {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    font-size: 26px;
    letter-spacing: -0.05em;
    font-weight: normal;
}

.whiteText {
    color: #fff;
}

/* Social */
.social {
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    background: #CEFFD9;
}

.socialFlex {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.social h2 {
    font-size: 20px;
    margin-top: 60px;
}

.social h2:nth-last-child(1){
    margin-top: 20px;
}

.social p {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
    margin-top: 20px;
}

.socialContainer {
    height: 632px;
}

.iconContainer {
    display: flex;
    flex-flow: column;
    height: fit-content;
    width: 40px;
    margin-top: 57px;
}

.iconContainer img {
    margin-bottom: 20px;
}

/* Contact */
.contact {
    height: 496px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    font-size: 20px;
    letter-spacing: -0.05em;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: calc(100% - 10px);
    background: transparent;
    border: 1px solid #636363;
    margin-top: 20px;
}

textarea {
    font-size: 20px;
    letter-spacing: -0.05em;
    margin-top: 20px;
    padding: 10px 8px;
    width: calc(100% + 5px);
    height: 240px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #636363;
    resize: none;
}

#submit {
    background: #636363;
    color: #fff;
    width: 120px;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 15px;
}

/* Footer */
footer {
    background: #fff;
    text-align: center;
}

footer p {
    padding: 20px;
    margin: 0;
}